h1{
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 2.25em;
}

#nav {
  padding: 0;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	width:100%;
}

#nav div{
	float:left;
	width:100%;
}

#nav ul {
    margin: 0;
    padding: 0;
		border-bottom: 1px solid black;
		text-decoration: none;
		width: 100%;
}

#nav a:link, a:visited {
		display:block;
    color: #ffffff;
    background-color:black;
    font-weight: lighter;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    font-family: 'Muli', Helvetica, sans-serif;
		width: 100%;
}

#nav a:hover, a:active {
    background-color: #949399;
}

.background{
	margin-left:50px;
	margin-right: 50px;
	text-align: justify;
	padding-top: 25px;
}

h2{
	padding-top: 20px;
	font-family: 'Muli', Helvetica, sans-serif;
}

.info{
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}

footer{
	font-style: italic;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pic{
	padding-top: 25px;
}

img{
	width: 100%
	height: auto;
}
